.contentContainer {
    max-width: 110px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vg - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero {
    max-width: 600;
}